

$screen-xs-min   : 400px;
$screen-sm-min   : 800px;
$screen-md-min   : 1200px;
$screen-lg-min   : 1600px;

/* COLORS */

$white 				: rgb(255,255,255);
$black 				: rgb(0,0,0);
$navy 				: rgb(0,0,102);

$dark-grey 	        : rgb(102,102,102);
$medium-grey 	    : rgb(153,153,153);

/* BASELINE AND TYPOGRAPHY */

$roman				: 400;
$bold 				: 600;

$sans 				: "HelveticaNeue-Regular", "Helvetica Neue Regular", 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
