/* COLORS */

$white 				: rgb(255,255,255);
$black 				: rgb(0,0,0);
$blue 				: blue;
$grey 				: rgb(125,125,125);


/* BASELINE AND TYPOGRAPHY */

$roman				: 400;
$bold 				: 600;

$sans 				: "HelveticaNeue-Regular", "Helvetica Neue Regular", 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
