/*
---------------------------------
BASIC PAGE LAYOUT STYLES
---------------------------------
*/


// Sticky Footer

html, body {
  height: 100%;
  margin: 0;
}
.page-wrapper {
  min-height: 100%;
}
.page-wrapper-inner {
  //padding: 20px;
  padding-bottom: 50px;
}
.page-footer {
  height: 50px;
  margin-top: -50px;
}



// Body Style

body{
	background: url('../images/gradient.jpg') center center repeat-y;
	background-size: 100%;
}



