/*
---------------------------------
 FOOTER
---------------------------------
*/

// Footer

.page-footer{
	background-color: $dark-grey;
	color: $white;

	
	.page-footer-inner{
		width: 96%;
		margin: 0 auto;
		display: block;
		line-height: 50px;
		font-size: 12px;
		overflow: hidden;
	}
}





@media (min-width:$screen-md-min) {
  
	.page-footer{
		.page-footer-inner{
			width: 80%;
			font-size: 16px;
		}
	}

} 