/*
---------------------------------
TABLES
---------------------------------
*/

table{
	
	width: 100%;
	margin: 40px 0;

	thead{
		border-bottom: 1px solid #000000;
	}

	tbody:before {
	    content: "-";
	    display: block;
	    line-height: 1em;
	    color: transparent;
	}

	th{
		font-weight:normal;
		text-align: left;
	}
	
	td, th {
    	padding: 5px 0;
	}

	tr.subtotal td,
	tr.total-cost td{
		padding-top: 40px;
	}

	.checkout-qty {
		width: 40px;
	}

	.cost-value {
	    width: 70px;
	    display: inline-block;
	    overflow: hidden;
	    height: 16px;
	    vertical-align: middle;
	}

	.delete-product{
	  width: 30px; 
	  height: 30px;
	  background: url('../images/rubbish-bin.png') center center no-repeat;
	  background-size: 22px 22px;
	  text-indent: -9999px;
	  display: block;
	  cursor: pointer;
	}
}



